@function getInvertedOverlayColor($color, $factor) {
	@return if(lightness($color) > 50, rgba(0,0,0,$factor), rgba(255,255,255,$factor));
}

@function getInvertedModifiedColor($color, $percentage) {
	@return if(lightness($color) > 50, darken($color, $percentage), lighten($color, $percentage));
}
$sub-header-background-color: #dfeaf2;
$neutral-light-color: $sub-header-background-color;
$button-color: #fff;
$button-default-color: $button-color;
$button-toolbar-color: $button-color;
$base-color: #157fcc;
$button-toolbar-background-color: $base-color;
$base-dark-color: mix(#000, $base-color, 14%);
$button-toolbar-border-color: $base-dark-color;
$button-gradient: "glossy-button";
$button-default-background-gradient: $button-gradient;
$button-toolbar-background-gradient: $button-gradient;
$container-background-color: #fff;
$toolbar-background-color: $container-background-color;
$toolbar-separator-color: darken($toolbar-background-color, 20%);
$header-color: #fff;
$panel-header-color: $header-color;
$panel-body-background-color: $container-background-color;
$header-gradient: "flat";
$panel-header-background-gradient: $header-gradient;
$panel-frame-background-color: $container-background-color;
$body-background-color: #f5f5f5;
$form-field-border-color: darken($body-background-color, 20%) darken($body-background-color, 10%) darken($body-background-color, 10%);
$form-field-focus-border-color: lighten($base-color, 20%);
$form-field-background-color: $container-background-color;
$form-field-invalid-background-color: $container-background-color;
$grid-row-cell-background-color: $container-background-color;
$grid-row-cell-border-color: darken($grid-row-cell-background-color, 20%);
$grid-row-cell-over-background-color: darken($grid-row-cell-background-color, 10%);
$grid-row-cell-selected-background-color: darken($grid-row-cell-background-color, 10%);
$grid-row-cell-focus-background-color: darken($grid-row-cell-background-color, 10%);
$grid-header-background-color: $neutral-light-color;
$grid-header-border-color: darken($grid-header-background-color, 20%);
$grid-header-over-background-color: darken($grid-header-background-color, 10%);
$sub-header-color: #666;
$grid-column-header-color: $sub-header-color;
$tab-color: $header-color;
$tab-background-gradient: $header-gradient;
$tabbar-background-gradient: $header-gradient;
$window-body-background-color: $container-background-color;
$btn-group-header-color: $sub-header-color;
$btn-group-background-color: $container-background-color;
$btn-group-inner-border-color: darken($btn-group-background-color, 20%);
$btn-group-framed-background-color: darken($btn-group-background-color, 20%);
$boundlist-background-color: $container-background-color;
$boundlist-item-over-background-color: darken($boundlist-background-color, 10%);
$boundlist-item-selected-background-color: darken($boundlist-background-color, 10%);
$datepicker-background-color: $container-background-color;
$datepicker-border-color: darken($datepicker-background-color, 20%);
$datepicker-column-header-color: $sub-header-color;
$datepicker-item-hover-background-color: darken($datepicker-background-color, 10%);
$datepicker-item-selected-background-color: darken($datepicker-background-color, 10%);
$datepicker-item-selected-border-color: darken($datepicker-background-color, 20%);
$datepicker-month-button-color: $sub-header-color;
$colorpicker-background-color: $container-background-color;
$colorpicker-item-border-color-over: darken($colorpicker-background-color, 20%);
$colorpicker-border-color: darken($colorpicker-background-color, 20%);
$colorpicker-item-border-color-selected: darken($colorpicker-background-color, 20%);
$colorpicker-item-inner-border-color: darken($colorpicker-background-color, 20%);
$grid-grouped-header-border-color: darken($grid-row-cell-background-color, 20%);
$menu-background-color: $container-background-color;
$menu-item-active-background-color: darken($menu-background-color, 10%);
$menu-border-color: darken($menu-background-color, 20%);
$color: #000;
$menu-text-color: $color;
$menu-separator-border-color: darken($menu-background-color, 20%);