.x-menu-date-item {
	border-color: darken($datepicker-background-color, 20%);
}
/* ui mixin: neutral for of type: extjs-button-small-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $neutral-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-small-ui(
    $ui:"neutral",
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-small-padding,
    $text-padding: $button-small-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-small-font-size,
    $font-size-over: $button-small-font-size-over,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-size-focus-over: $button-small-font-size-focus-over,
    $font-size-focus-pressed: $button-small-font-size-focus-pressed,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-focus-over: $button-small-font-weight-focus-over,
    $font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-focus-over: $button-small-font-family-focus-over,
    $font-family-focus-pressed: $button-small-font-family-focus-pressed,
    $font-family-disabled: $button-small-font-family-disabled,
    $line-height: $button-small-line-height,
    $icon-size: $button-small-icon-size,
    $icon-spacing: $button-small-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: neutral for of type: extjs-button-medium-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $neutral-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-medium-ui(
    $ui:"neutral",
    $border-radius: $button-medium-border-radius,
    $border-width: $button-medium-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-medium-padding,
    $text-padding: $button-medium-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-medium-font-size,
    $font-size-over: $button-medium-font-size-over,
    $font-size-focus: $button-medium-font-size-focus,
    $font-size-pressed: $button-medium-font-size-pressed,
    $font-size-focus-over: $button-medium-font-size-focus-over,
    $font-size-focus-pressed: $button-medium-font-size-focus-pressed,
    $font-size-disabled: $button-medium-font-size-disabled,
    $font-weight: $button-medium-font-weight,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $font-weight-focus-over: $button-medium-font-weight-focus-over,
    $font-weight-focus-pressed: $button-medium-font-weight-focus-pressed,
    $font-weight-disabled: $button-medium-font-weight-disabled,
    $font-family: $button-medium-font-family,
    $font-family-over: $button-medium-font-family-over,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-family-focus-over: $button-medium-font-family-focus-over,
    $font-family-focus-pressed: $button-medium-font-family-focus-pressed,
    $font-family-disabled: $button-medium-font-family-disabled,
    $line-height: $button-medium-line-height,
    $icon-size: $button-medium-icon-size,
    $icon-spacing: $button-medium-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-medium-arrow-width,
    $arrow-height: $button-medium-arrow-height,
    $split-width: $button-medium-split-width,
    $split-height: $button-medium-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: neutral for of type: extjs-button-large-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $neutral-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-large-ui(
    $ui:"neutral",
    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-large-padding,
    $text-padding: $button-large-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-large-font-size,
    $font-size-over: $button-large-font-size-over,
    $font-size-focus: $button-large-font-size-focus,
    $font-size-pressed: $button-large-font-size-pressed,
    $font-size-focus-over: $button-large-font-size-focus-over,
    $font-size-focus-pressed: $button-large-font-size-focus-pressed,
    $font-size-disabled: $button-large-font-size-disabled,
    $font-weight: $button-large-font-weight,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $font-weight-focus-over: $button-large-font-weight-focus-over,
    $font-weight-focus-pressed: $button-large-font-weight-focus-pressed,
    $font-weight-disabled: $button-large-font-weight-disabled,
    $font-family: $button-large-font-family,
    $font-family-over: $button-large-font-family-over,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-family-focus-over: $button-large-font-family-focus-over,
    $font-family-focus-pressed: $button-large-font-family-focus-pressed,
    $font-family-disabled: $button-large-font-family-disabled,
    $line-height: $button-large-line-height,
    $icon-size: $button-large-icon-size,
    $icon-spacing: $button-large-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-large-arrow-width,
    $arrow-height: $button-large-arrow-height,
    $split-width: $button-large-split-width,
    $split-height: $button-large-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: confirm for of type: extjs-button-small-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $confirmation-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-small-ui(
    $ui:"confirm",
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-small-padding,
    $text-padding: $button-small-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-small-font-size,
    $font-size-over: $button-small-font-size-over,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-size-focus-over: $button-small-font-size-focus-over,
    $font-size-focus-pressed: $button-small-font-size-focus-pressed,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-focus-over: $button-small-font-weight-focus-over,
    $font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-focus-over: $button-small-font-family-focus-over,
    $font-family-focus-pressed: $button-small-font-family-focus-pressed,
    $font-family-disabled: $button-small-font-family-disabled,
    $line-height: $button-small-line-height,
    $icon-size: $button-small-icon-size,
    $icon-spacing: $button-small-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: confirm for of type: extjs-button-medium-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $confirmation-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-medium-ui(
    $ui:"confirm",
    $border-radius: $button-medium-border-radius,
    $border-width: $button-medium-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-medium-padding,
    $text-padding: $button-medium-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-medium-font-size,
    $font-size-over: $button-medium-font-size-over,
    $font-size-focus: $button-medium-font-size-focus,
    $font-size-pressed: $button-medium-font-size-pressed,
    $font-size-focus-over: $button-medium-font-size-focus-over,
    $font-size-focus-pressed: $button-medium-font-size-focus-pressed,
    $font-size-disabled: $button-medium-font-size-disabled,
    $font-weight: $button-medium-font-weight,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $font-weight-focus-over: $button-medium-font-weight-focus-over,
    $font-weight-focus-pressed: $button-medium-font-weight-focus-pressed,
    $font-weight-disabled: $button-medium-font-weight-disabled,
    $font-family: $button-medium-font-family,
    $font-family-over: $button-medium-font-family-over,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-family-focus-over: $button-medium-font-family-focus-over,
    $font-family-focus-pressed: $button-medium-font-family-focus-pressed,
    $font-family-disabled: $button-medium-font-family-disabled,
    $line-height: $button-medium-line-height,
    $icon-size: $button-medium-icon-size,
    $icon-spacing: $button-medium-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-medium-arrow-width,
    $arrow-height: $button-medium-arrow-height,
    $split-width: $button-medium-split-width,
    $split-height: $button-medium-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: confirm for of type: extjs-button-large-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $confirmation-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-large-ui(
    $ui:"confirm",
    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-large-padding,
    $text-padding: $button-large-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-large-font-size,
    $font-size-over: $button-large-font-size-over,
    $font-size-focus: $button-large-font-size-focus,
    $font-size-pressed: $button-large-font-size-pressed,
    $font-size-focus-over: $button-large-font-size-focus-over,
    $font-size-focus-pressed: $button-large-font-size-focus-pressed,
    $font-size-disabled: $button-large-font-size-disabled,
    $font-weight: $button-large-font-weight,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $font-weight-focus-over: $button-large-font-weight-focus-over,
    $font-weight-focus-pressed: $button-large-font-weight-focus-pressed,
    $font-weight-disabled: $button-large-font-weight-disabled,
    $font-family: $button-large-font-family,
    $font-family-over: $button-large-font-family-over,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-family-focus-over: $button-large-font-family-focus-over,
    $font-family-focus-pressed: $button-large-font-family-focus-pressed,
    $font-family-disabled: $button-large-font-family-disabled,
    $line-height: $button-large-line-height,
    $icon-size: $button-large-icon-size,
    $icon-spacing: $button-large-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-large-arrow-width,
    $arrow-height: $button-large-arrow-height,
    $split-width: $button-large-split-width,
    $split-height: $button-large-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: decline for of type: extjs-button-small-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $error-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-small-ui(
    $ui:"decline",
    $border-radius: $button-small-border-radius,
    $border-width: $button-small-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-small-padding,
    $text-padding: $button-small-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-small-font-size,
    $font-size-over: $button-small-font-size-over,
    $font-size-focus: $button-small-font-size-focus,
    $font-size-pressed: $button-small-font-size-pressed,
    $font-size-focus-over: $button-small-font-size-focus-over,
    $font-size-focus-pressed: $button-small-font-size-focus-pressed,
    $font-size-disabled: $button-small-font-size-disabled,
    $font-weight: $button-small-font-weight,
    $font-weight-over: $button-small-font-weight-over,
    $font-weight-focus: $button-small-font-weight-focus,
    $font-weight-pressed: $button-small-font-weight-pressed,
    $font-weight-focus-over: $button-small-font-weight-focus-over,
    $font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
    $font-weight-disabled: $button-small-font-weight-disabled,
    $font-family: $button-small-font-family,
    $font-family-over: $button-small-font-family-over,
    $font-family-focus: $button-small-font-family-focus,
    $font-family-pressed: $button-small-font-family-pressed,
    $font-family-focus-over: $button-small-font-family-focus-over,
    $font-family-focus-pressed: $button-small-font-family-focus-pressed,
    $font-family-disabled: $button-small-font-family-disabled,
    $line-height: $button-small-line-height,
    $icon-size: $button-small-icon-size,
    $icon-spacing: $button-small-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-small-arrow-width,
    $arrow-height: $button-small-arrow-height,
    $split-width: $button-small-split-width,
    $split-height: $button-small-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: decline for of type: extjs-button-medium-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $error-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-medium-ui(
    $ui:"decline",
    $border-radius: $button-medium-border-radius,
    $border-width: $button-medium-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-medium-padding,
    $text-padding: $button-medium-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-medium-font-size,
    $font-size-over: $button-medium-font-size-over,
    $font-size-focus: $button-medium-font-size-focus,
    $font-size-pressed: $button-medium-font-size-pressed,
    $font-size-focus-over: $button-medium-font-size-focus-over,
    $font-size-focus-pressed: $button-medium-font-size-focus-pressed,
    $font-size-disabled: $button-medium-font-size-disabled,
    $font-weight: $button-medium-font-weight,
    $font-weight-over: $button-medium-font-weight-over,
    $font-weight-focus: $button-medium-font-weight-focus,
    $font-weight-pressed: $button-medium-font-weight-pressed,
    $font-weight-focus-over: $button-medium-font-weight-focus-over,
    $font-weight-focus-pressed: $button-medium-font-weight-focus-pressed,
    $font-weight-disabled: $button-medium-font-weight-disabled,
    $font-family: $button-medium-font-family,
    $font-family-over: $button-medium-font-family-over,
    $font-family-focus: $button-medium-font-family-focus,
    $font-family-pressed: $button-medium-font-family-pressed,
    $font-family-focus-over: $button-medium-font-family-focus-over,
    $font-family-focus-pressed: $button-medium-font-family-focus-pressed,
    $font-family-disabled: $button-medium-font-family-disabled,
    $line-height: $button-medium-line-height,
    $icon-size: $button-medium-icon-size,
    $icon-spacing: $button-medium-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-medium-arrow-width,
    $arrow-height: $button-medium-arrow-height,
    $split-width: $button-medium-split-width,
    $split-height: $button-medium-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: decline for of type: extjs-button-large-ui */
@if $include-ext-button-button != false {
  $_arch_background-color: $error-color;
$_arch_border-color: darken($_arch_background-color, 20);
$_arch_background-color-over: getInvertedModifiedColor($_arch_background-color, 15);
$_arch_border-color-over: darken($_arch_background-color-over, 20);
$_arch_background-color-pressed: darken($_arch_background-color, 20);
$_arch_border-color-pressed: darken($_arch_background-color-pressed, 20);
$_arch_color: getInvertedOverlayColor($_arch_background-color, 0.8);
  @include extjs-button-large-ui(
    $ui:"decline",
    $border-radius: $button-large-border-radius,
    $border-width: $button-large-border-width,
    $border-color: $_arch_border-color,
    $border-color-over: $_arch_border-color-over,
    $border-color-focus: $button-default-border-color-focus,
    $border-color-pressed: $_arch_border-color-pressed,
    $border-color-focus-over: $button-default-border-color-focus-over,
    $border-color-focus-pressed: $button-default-border-color-focus-pressed,
    $border-color-disabled: $_arch_border-color,
    $padding: $button-large-padding,
    $text-padding: $button-large-text-padding,
    $background-color: $_arch_background-color,
    $background-color-over: $_arch_background-color-over,
    $background-color-focus: $button-default-background-color-focus,
    $background-color-pressed: $_arch_background-color-pressed,
    $background-color-focus-over: $button-default-background-color-focus-over,
    $background-color-focus-pressed: $button-default-background-color-focus-pressed,
    $background-color-disabled: $_arch_background-color,
    $background-gradient: $button-default-background-gradient,
    $background-gradient-over: $button-default-background-gradient-over,
    $background-gradient-focus: $button-default-background-gradient-focus,
    $background-gradient-pressed: $button-default-background-gradient-pressed,
    $background-gradient-focus-over: $button-default-background-gradient-focus-over,
    $background-gradient-focus-pressed: $button-default-background-gradient-focus-pressed,
    $background-gradient-disabled: $button-default-background-gradient-disabled,
    $color: $_arch_color,
    $color-over: $_arch_color,
    $color-focus: $button-default-color-focus,
    $color-pressed: $_arch_color,
    $color-focus-over: $button-default-color-focus-over,
    $color-focus-pressed: $button-default-color-focus-pressed,
    $color-disabled: $_arch_color,
    $inner-border-width: $button-default-inner-border-width,
    $inner-border-width-over: $button-default-inner-border-width-over,
    $inner-border-width-focus: $button-default-inner-border-width-focus,
    $inner-border-width-pressed: $button-default-inner-border-width-pressed,
    $inner-border-width-focus-over: $button-default-inner-border-width-focus-over,
    $inner-border-width-focus-pressed: $button-default-inner-border-width-focus-pressed,
    $inner-border-width-disabled: $button-default-inner-border-width-disabled,
    $inner-border-color: $button-default-inner-border-color,
    $inner-border-color-over: $button-default-inner-border-color-over,
    $inner-border-color-focus: $button-default-inner-border-color-focus,
    $inner-border-color-pressed: $button-default-inner-border-color-pressed,
    $inner-border-color-focus-over: $button-default-inner-border-color-focus-over,
    $inner-border-color-focus-pressed: $button-default-inner-border-color-focus-pressed,
    $inner-border-color-disabled: $button-default-inner-border-color-disabled,
    $body-outline-width-focus: $button-default-body-outline-width-focus,
    $body-outline-style-focus: $button-default-body-outline-style-focus,
    $body-outline-color-focus: $button-default-body-outline-color-focus,
    $font-size: $button-large-font-size,
    $font-size-over: $button-large-font-size-over,
    $font-size-focus: $button-large-font-size-focus,
    $font-size-pressed: $button-large-font-size-pressed,
    $font-size-focus-over: $button-large-font-size-focus-over,
    $font-size-focus-pressed: $button-large-font-size-focus-pressed,
    $font-size-disabled: $button-large-font-size-disabled,
    $font-weight: $button-large-font-weight,
    $font-weight-over: $button-large-font-weight-over,
    $font-weight-focus: $button-large-font-weight-focus,
    $font-weight-pressed: $button-large-font-weight-pressed,
    $font-weight-focus-over: $button-large-font-weight-focus-over,
    $font-weight-focus-pressed: $button-large-font-weight-focus-pressed,
    $font-weight-disabled: $button-large-font-weight-disabled,
    $font-family: $button-large-font-family,
    $font-family-over: $button-large-font-family-over,
    $font-family-focus: $button-large-font-family-focus,
    $font-family-pressed: $button-large-font-family-pressed,
    $font-family-focus-over: $button-large-font-family-focus-over,
    $font-family-focus-pressed: $button-large-font-family-focus-pressed,
    $font-family-disabled: $button-large-font-family-disabled,
    $line-height: $button-large-line-height,
    $icon-size: $button-large-icon-size,
    $icon-spacing: $button-large-icon-spacing,
    $glyph-color: $button-default-glyph-color,
    $glyph-opacity: $button-default-glyph-opacity,
    $arrow-width: $button-large-arrow-width,
    $arrow-height: $button-large-arrow-height,
    $split-width: $button-large-split-width,
    $split-height: $button-large-split-height,
    $include-ui-menu-arrows: $button-include-ui-menu-arrows,
    $include-ui-split-arrows: $button-include-ui-split-arrows,
    $include-split-noline-arrows: $button-include-split-noline-arrows,
    $include-split-over-arrows: $button-include-split-over-arrows,
    $opacity-disabled: $button-opacity-disabled,
    $inner-opacity-disabled: $button-inner-opacity-disabled
  );
}
/* ui mixin: neutral for of type: extjs-panel-ui */
@if $include-ext-panel-panel != false {
  $_arch_ui-header-background-color: $neutral-color;
$_arch_ui-header-color: getInvertedOverlayColor($_arch_ui-header-background-color, 0.8);
  @include extjs-panel-ui(
    $ui:"neutral",
    $ui-border-color: $panel-border-color,
    $ui-border-radius: $panel-border-radius,
    $ui-border-width: $panel-border-width,
    $ui-padding: 0,
    $ui-header-color: $_arch_ui-header-color,
    $ui-header-font-family: $panel-header-font-family,
    $ui-header-font-size: $panel-header-font-size,
    $ui-header-font-weight: $panel-header-font-weight,
    $ui-header-line-height: $panel-header-line-height,
    $ui-header-border-color: $panel-header-border-color,
    $ui-header-border-width: $panel-header-border-width,
    $ui-header-border-style: $panel-header-border-style,
    $ui-header-background-color: $_arch_ui-header-background-color,
    $ui-header-background-gradient: $panel-header-background-gradient,
    $ui-header-inner-border-color: $panel-header-inner-border-color,
    $ui-header-inner-border-width: $panel-header-inner-border-width,
    $ui-header-text-padding: $panel-header-text-padding,
    $ui-header-text-margin: $panel-header-text-margin,
    $ui-header-text-transform: $panel-header-text-transform,
    $ui-header-padding: $panel-header-padding,
    $ui-header-icon-width: $panel-header-icon-width,
    $ui-header-icon-height: $panel-header-icon-height,
    $ui-header-icon-spacing: $panel-header-icon-spacing,
    $ui-header-icon-background-position: $panel-header-icon-background-position,
    $ui-header-glyph-color: $panel-header-glyph-color,
    $ui-header-glyph-opacity: $panel-header-glyph-opacity,
    $ui-header-noborder-adjust: $panel-header-noborder-adjust,
    $ui-tool-spacing: $panel-tool-spacing,
    $ui-tool-background-image: $panel-tool-background-image,
    $ui-body-color: $panel-body-color,
    $ui-body-border-color: $panel-body-border-color,
    $ui-body-border-width: $panel-body-border-width,
    $ui-body-border-style: $panel-body-border-style,
    $ui-body-background-color: $panel-body-background-color,
    $ui-body-font-size: $panel-body-font-size,
    $ui-body-font-weight: $panel-body-font-weight,
    $ui-body-font-family: $panel-body-font-family,
    $ui-background-stretch-top: $panel-background-stretch-top,
    $ui-background-stretch-bottom: $panel-background-stretch-bottom,
    $ui-background-stretch-right: $panel-background-stretch-right,
    $ui-background-stretch-left: $panel-background-stretch-left,
    $ui-include-border-management-rules: $panel-include-border-management-rules,
    $ui-wrap-border-color: null,
    $ui-wrap-border-width: null,
    $ui-ignore-frame-padding: $panel-ignore-frame-padding
  );
}
/* ui mixin: neutral-framed for of type: extjs-panel-ui */
@if $include-ext-panel-panel != false {
  $_arch_ui-header-background-color: $neutral-color;
$_arch_ui-header-color: getInvertedOverlayColor($_arch_ui-header-background-color, 0.8);
  @include extjs-panel-ui(
    $ui:"neutral-framed",
    $ui-border-color: $neutral-color,
    $ui-border-radius: $panel-frame-border-radius,
    $ui-border-width: $panel-frame-border-width,
    $ui-padding: $panel-frame-padding,
    $ui-header-color: $_arch_ui-header-color,
    $ui-header-font-family: $panel-header-font-family,
    $ui-header-font-size: $panel-header-font-size,
    $ui-header-font-weight: $panel-header-font-weight,
    $ui-header-line-height: $panel-header-line-height,
    $ui-header-border-color: $neutral-color,
    $ui-header-border-width: $panel-frame-header-border-width,
    $ui-header-border-style: $panel-header-border-style,
    $ui-header-background-color: $_arch_ui-header-background-color,
    $ui-header-background-gradient: $panel-header-background-gradient,
    $ui-header-inner-border-color: $panel-frame-header-inner-border-color,
    $ui-header-inner-border-width: $panel-frame-header-inner-border-width,
    $ui-header-text-padding: $panel-header-text-padding,
    $ui-header-text-margin: $panel-header-text-margin,
    $ui-header-text-transform: $panel-header-text-transform,
    $ui-header-padding: $panel-frame-header-padding,
    $ui-header-icon-width: $panel-header-icon-width,
    $ui-header-icon-height: $panel-header-icon-height,
    $ui-header-icon-spacing: $panel-header-icon-spacing,
    $ui-header-icon-background-position: $panel-header-icon-background-position,
    $ui-header-glyph-color: $panel-header-glyph-color,
    $ui-header-glyph-opacity: $panel-header-glyph-opacity,
    $ui-header-noborder-adjust: $panel-header-noborder-adjust,
    $ui-tool-spacing: $panel-tool-spacing,
    $ui-tool-background-image: $panel-tool-background-image,
    $ui-body-color: $panel-body-color,
    $ui-body-border-color: $panel-body-border-color,
    $ui-body-border-width: $panel-frame-body-border-width,
    $ui-body-border-style: $panel-body-border-style,
    $ui-body-background-color: $panel-frame-background-color,
    $ui-body-font-size: $panel-body-font-size,
    $ui-body-font-weight: $panel-body-font-weight,
    $ui-body-font-family: $panel-body-font-family,
    $ui-background-stretch-top: $panel-background-stretch-top,
    $ui-background-stretch-bottom: $panel-background-stretch-bottom,
    $ui-background-stretch-right: $panel-background-stretch-right,
    $ui-background-stretch-left: $panel-background-stretch-left,
    $ui-include-border-management-rules: $panel-include-border-management-rules,
    $ui-wrap-border-color: null,
    $ui-wrap-border-width: null,
    $ui-ignore-frame-padding: $panel-ignore-frame-padding
  );
}